@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row text-center">
        <a href="https://github.com/ignesses/pdd" target="_blank"><i class="fab fa-github h2 align-middle"></i></a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
