@page "/usuarios/EditarUsuario/{id:int}"
@using _ProyectoFinal.Data
@inject _ProyectoFinal.Data.UsuarioService UsuarioService
@inject NavigationManager navigation

<EditForm Model="@Modelo" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="Modelo.User" />
    <!-- <InputText @bind-Value="Modelo.Clave" /> -->

    <button type="submit">Guardar</button>
</EditForm>

@code {

    [Parameter]
    public int Id { get; set; }

    public Usuario Modelo { get; set; } = new Usuario();

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            Modelo = await UsuarioService.Get(Id);
        }
        else
        {
            Modelo = new Usuario();
        }
    }


    private async void Guardar()
    {
        await UsuarioService.Save(Modelo);
        navigation.NavigateTo("usuarios/ListadoUsuarios");
    }

}
