@page "/usuarios/EditarUsuario/{id:int}"
@using ProyectoFinal.Data
@inject UsuarioService UsuarioService
@inject NavigationManager navigation
@using Model

<h3>@mensaje</h3>

<EditForm Model="@Modelo" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Usuario</label>
                <InputText @bind-Value="Modelo.User" type="text" class="form-control" placeholder="Nombre de usuario" />
            </div>
            <div class="form-group col-md-6">
                <label>Clave</label>
                <InputNumber @bind-Value="Modelo.Clave" type="password" class="form-control" />
            </div>
        </div>
    </form>
    <button type="submit" class="btn btn-primary">Guardar</button>

</EditForm>

@code {

    [Parameter]
    public int id { get; set; }

    public Usuario Modelo { get; set; } = new Usuario();
    public string mensaje;

    protected override async Task OnInitializedAsync()
    {
        if (id > 0)
        {
            Modelo = await UsuarioService.Get(id);
            mensaje = "Editar Usuario";

        }
        else
        {
            Modelo = new Usuario();
            mensaje = "Nuevo Usuario";
        }
    }


    private async void Guardar()
    {
        await UsuarioService.Save(Modelo);
        navigation.NavigateTo("usuarios/ListadoUsuarios");
    }

}
