@page "/usuarios/listadoUsuarios"
@using ProyectoFinal.Data
@inject UsuarioService UsuarioService
@inject NavigationManager navigation
@inject IJSRuntime JsRuntime

<h1>Listado de Usuarios</h1>

<button class="btn" @onclick="()=>Editar(0)">Nuevo</button>

@if (usuarios == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Clave</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in usuarios)
            {
            <tr>
                <td>@usuario.Id_User</td>
                <td>@usuario.User</td>
                <td>@usuario.Clave</td>
                <td><button class="btn" @onclick="()=>Editar(usuario.Id_User)">Editar</button> <button class="btn" @onclick="()=>Borrar(usuario.Id_User)">Borrar</button></td>
            </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<Usuario> usuarios;

    protected override async Task OnInitializedAsync()
    {
        usuarios = await UsuarioService.GetAll();
    }

    protected void Editar(int id)
    {
        navigation.NavigateTo("usuarios/editarUsuario/" + id);
    }

    async Task Borrar(int id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "¿Desea elimiar el usuario seleccionado?");
        if (confirmed)
        {
            await UsuarioService.Remove(id);
            usuarios = await UsuarioService.GetAll();
        }
    }

}
