@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row">
        <a href="https://github.com/ignesses/pdd" target="_blank" class="oi oi-cloud font-weight-light h5">   GitHub</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
